.inputBox{
    width: 100%;
    background-color: #141414;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputBox input{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

.btnBlue{
    background-color: #00AEEF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnBlue:hover{
    background-color: #0086b3;
}

.loginText{
    color: #00AEEF;
}

.loginText:hover{
    color: #0086b3;
}